In [1]:
print("Hello")     # ctrl + enter OR  shift + enter

Hello

In [ ]:
"""
cells above    esc+a
cells below    esc+b
delete cell    esc+x

comment / uncomment   ctrl+/
"""

In [2]:
name="Steven's"
salary = 24000.09
job_id='"Admin"'
indicator = True
empid = 100

In [3]:
print(name,salary,job_id,indicator,empid)

print(type(name),type(salary),type(job_id),type(indicator),type(empid))

Steven's 24000.09 "Admin" True 100
<class 'str'> <class 'float'> <class 'str'> <class 'bool'> <class 'int'>

# Loops

In [6]:
counter=0

while (counter<10):
    print(counter)
    counter +=1
print("--------End Of Loop----------")

0
1
2
3
4
5
6
7
8
9
--------End Of Loop----------

In [7]:
counter=0

while (counter<10):
    print(counter)
    counter +=1
    print("--------End Of Loop----------")

0
--------End Of Loop----------
1
--------End Of Loop----------
2
--------End Of Loop----------
3
--------End Of Loop----------
4
--------End Of Loop----------
5
--------End Of Loop----------
6
--------End Of Loop----------
7
--------End Of Loop----------
8
--------End Of Loop----------
9
--------End Of Loop----------

In [10]:
# range(start,stop,step)
# upper bound excluded in python
range(0,10)

range(0, 10)

In [11]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(10,100,10):   # start 10 ,stop 100,  step 10
    print(i)

10
20
30
40
50
60
70
80
90

In [13]:
for i in range(5):        # start 0 default, stop 5 ,step 1 default
    print(i)

0
1
2
3
4

In [14]:
for i in range(10,0,-1):  # start 10,  stop 0, step -1
    print(i)

10
9
8
7
6
5
4
3
2
1

In [48]:
""" Law Of Large Number """
from numpy.random import randn

N = 100000    # number of times we call randn
           # N 10 100..... N ? percentage 68.2%
cnt=0
for i in range(N):
    num=randn()
    if num >= -1 and num<=1:
        cnt+=1
percentage=cnt/N*100
print("percentage => ",percentage)

percentage =>  68.23

# List

In [50]:
mList = [10,20,30,40,50]

In [51]:
print(type(mList))
print(mList)
print(mList[0])
print(mList[3])

<class 'list'>
[10, 20, 30, 40, 50]
10
40

In [53]:
# append 99 to the list
mList.append(99)
print(mList)

[10, 20, 30, 40, 50, 99, 99]

In [54]:
mList.append(15)
print(mList)

[10, 20, 30, 40, 50, 99, 99, 15]

In [55]:
mList.sort()
print(mList)

[10, 15, 20, 30, 40, 50, 99, 99]

In [56]:
mList.append([11,22,33,44])
print(mList)

[10, 15, 20, 30, 40, 50, 99, 99, [11, 22, 33, 44]]

In [57]:
mList.extend([11,22,33,44])
print(mList)

[10, 15, 20, 30, 40, 50, 99, 99, [11, 22, 33, 44], 11, 22, 33, 44]

In [58]:
mList.pop(7)

99

In [59]:
mList

[10, 15, 20, 30, 40, 50, 99, [11, 22, 33, 44], 11, 22, 33, 44]

In [60]:
name

"Steven's"

In [61]:
del(name)

In [ ]:
name

In [4]:
aList=[10,20,"King",24000.90,True]

In [5]:
print(aList)

[10, 20, 'King', 24000.9, True]

In [6]:
aList.reverse()
print(aList)

[True, 24000.9, 'King', 20, 10]

In [68]:
mList.remove(20)

In [69]:
val=list(range(10))

In [70]:
print(val)
print(type(val))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [71]:
len(val)

10

In [72]:
mList=list(range(0,40,2))

In [73]:
mList

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [74]:
ind:int=int(14/2)
print(ind)
print(type(ind))

7
<class 'int'>

In [75]:
indx=round(14/2)

mList[round(14/2)]

14

In [80]:
mList[11]

11

In [81]:
mList[10:15]

[10, 11, 12, 13, 14]

In [112]:
mList

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [113]:
24 in mList

True

In [114]:
mList.count(24)

1